.App {
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headline-5 {
  font: 800 4rem/.9 'Nike Futura ND','Helvetica Now Text Medium',Helvetica,Arial,sans-serif;
  padding-bottom: 1rem;
}
.next {
  font-size: 3rem;
}
.owl-content{
  position: relative;
}
@media (max-width: 667px)  {
  .headline-4 {
    font: 800 3rem/.9 'Nike Futura ND','Helvetica Now Text Medium',Helvetica,Arial,sans-serif;
    padding-bottom: 1rem;
  }
}

ul {
  list-style-type: none;
  line-height: 35px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.position-sticky-1 {
  position: sticky;
  top: 3rem; 
}
